<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitia-sdk-ui" version="2.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDKUI</name>
    
    <js-module name="NavitiaSDKUI" src="www/NavitiaSDKUI.js">
        <clobbers target="NavitiaSDKUI" />
    </js-module>

    <platform name="ios">
        <hook type="before_plugin_install" src="scripts/ios/carthage.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUI">
                <param name="ios-package" value="CDVNavitiaSDKUI" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVNavitiaSDKUI.swift" />
        <framework src="NavitiaSDKUI.framework" custom="true" embed="true" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUI">
                <param name="android-package" value="com.kisio.navitia.sdk.ui.cordova.JourneysUICordovaPlugin"/>
            </feature>
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/src/main/java/com/kisio/navitia/sdk/ui/cordova/JourneysUICordovaPlugin.java" target-dir="src/com/kisio/navitia/sdk/ui/cordova" />
    </platform>
</plugin>
