<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitia-sdk-ux" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDKUX</name>

    <dependency id="cordova-plugin-navitia-sdk" url="https://github.com/CanalTP/CDVNavitiaSDK"/>

    <js-module name="NavitiaSDKUX" src="www/NavitiaSDKUX.js">
        <clobbers target="NavitiaSDKUX" />
    </js-module>

    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>
        
        <hook type="before_plugin_install" src="scripts/ios/carthage.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUX">
                <param name="ios-package" value="CDVNavitiaSDKUX" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVNavitiaSDKUX.h" />
        <source-file src="src/ios/CDVNavitiaSDKUX.m" />

        <framework src="Carthage/Build/iOS/Alamofire.framework" custom="true" embed="true" />
        <framework src="Carthage/Build/iOS/AlamofireObjectMapper.framework" custom="true" embed="true" />
        <framework src="Carthage/Build/iOS/NavitiaSDK.framework" custom="true" embed="true" />
        <framework src="Carthage/Build/iOS/NavitiaSDKUX.framework" custom="true" embed="true" />
        <framework src="Carthage/Build/iOS/ObjectMapper.framework" custom="true" embed="true" />
        <framework src="Carthage/Build/iOS/Render.framework" custom="true" embed="true" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUX">
                <param name="android-package" value="org.kisio.CDVNavitiaSDKUX.CDVNavitiaSDKUX"/>
            </feature>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        </edit-config>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/org/kisio/CDVNavitiaSDKUX/CDVNavitiaSDKUX.java" target-dir="src/org/kisio/CDVNavitiaSDKUX" />
    </platform>
</plugin>
