<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navitia-sdk-ui" version="3.1.9" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NavitiaSDKUI</name>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

	<preference name="KISIO_ARTIFACTORY_URL" default="https://kisiodigital.jfrog.io/kisiodigital/" />
	<preference name="KISIO_ARTIFACTORY_ANDROID_REPO_RELEASE" default="android-release" />
	<preference name="KISIO_ARTIFACTORY_ANDROID_REPO_SNAPSHOT" default="android-snapshot" />
	<hook src="hooks/add_artifactory_conf.js" type="before_plugin_install" />

    <js-module name="NavitiaSDKUI" src="www/NavitiaSDKUI.js">
        <clobbers target="NavitiaSDKUI" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUI">
                <param name="ios-package" value="CDVNavitiaSDKUI" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVNavitiaSDKUI.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
                <source url="https://github.com/CanalTP/Podspecs"/>
            </config>
            <pods use-frameworks="true">
                <pod name="JourneySDK" spec="3.8.4" />
            </pods>
        </podspec>

		<hook src="hooks/add_buildPhase.js" type="after_plugin_install" />
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NavitiaSDKUI">
                <param name="android-package" value="com.kisio.navitia.sdk.ui.journey.cordova.JourneysUICordovaPlugin"/>
            </feature>
            <preference name="AndroidXEnabled" value="true" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:exported="true" android:launchMode="singleTask" android:name="com.kisio.navitia.sdk.ui.journey.cordova.JourneyUIActivity" android:theme="@style/Journey.Cordova.Theme" android:windowSoftInputMode="adjustPan" />
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/src/main/java/com/kisio/navitia/sdk/ui/journey/cordova/JourneysUICordovaPlugin.java" target-dir="src/com/kisio/navitia/sdk/ui/journey/cordova" />
        <source-file src="src/android/src/main/java/com/kisio/navitia/sdk/ui/journey/cordova/JourneyUIActivity.java" target-dir="src/com/kisio/navitia/sdk/ui/journey/cordova" />
        <source-file src="src/android/src/main/res/layout/activity_journey_ui.xml" target-dir="res/layout" />
        <source-file src="src/android/src/main/res/values/styles_journey_ui.xml" target-dir="res/values" />
    </platform>
</plugin>
