<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kisio.navitia.sdk.ui.journey.cordova">

    <application>
        <activity
            android:name=".JourneyUIActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Journey.Cordova.Theme"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
